<div class="content">
	<img src="./assets/images/Nahj Units.png" class="bg" />
	<a routerLink="/main"><img src="./assets/images/unit1.png" id="unit1" /></a>
	<a routerLink="/main"><img src="./assets/images/unit2.png" id="unit2" /></a>
	<a routerLink="/main"><img src="./assets/images/unit3.png" id="unit3" /></a>
	<a routerLink="/main"><img src="./assets/images/unit4.png" id="unit4" /></a>
	<a routerLink="/main"><img src="./assets/images/unit5.png" id="unit5" /></a>
	<a routerLink="/main"><img src="./assets/images/unit6.png" id="unit6" /></a>
	<a routerLink="/main"><img src="./assets/images/unit7.png" id="unit7" /></a>
	<a routerLink="/main"><img src="./assets/images/unit8.png" id="unit8" /></a>
	<a routerLink="/main"><img src="./assets/images/unit9.png" id="unit9" /></a>
	<a routerLink="/main"><img src="./assets/images/unit10.png" id="unit10" /></a>
</div>