<div class="content">
	<img src="./assets/images/Main Page.png" class="bg" />
	<a routerLink="/games"><img src="./assets/images/11.png" id="unit1" /></a>
	<a routerLink="/electronics"><img src="./assets/images/2.png" id="unit2" /></a>
	<a routerLink="/songs"><img src="./assets/images/3.png" id="unit3" /></a>
	<a routerLink="/quran"><img src="./assets/images/4.png" id="unit4" /></a>
	<a routerLink="/stories"><img src="./assets/images/5.png" id="unit5" /></a>
	<a routerLink="/sunnah"><img src="./assets/images/6.png" id="unit6" /></a>
	
</div>