<div class="content">
	<img src="./assets/images/games.png" class="bg" />
	<div class="data">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3"></div>
				<div class="col-2 text-left">
					<a routerLink="/game/match"><img src="./assets/images/match1.png" /></a>
				</div>
				<div class="col-2 text-center">
					<a routerLink="/game/memory"><img src="./assets/images/match2.png" /></a>
				</div>
				<div class="col-2 text-right">
					<!-- <a routerLink="/game"><img src="./assets/images/match1.png" /></a> -->
				</div>
			</div>
			<!-- <div class="row" style="margin-top: 4.8rem">
				<div class="col-3"></div>
				<div class="col-2 text-left">
					<a routerLink=""><img src="http://via.placeholder.com/350x330" /></a>
				</div>
				<div class="col-2 text-center">
					<a routerLink=""><img src="http://via.placeholder.com/350x330" /></a>
				</div>
				<div class="col-2 text-right">
					<a routerLink=""><img src="http://via.placeholder.com/350x330" /></a>
				</div>
			</div> -->
		</div>
	</div>
	<a routerLink="/main" class="back">
		<i class="fa fa-home fa-5x" aria-hidden="true"></i>
	</a>
</div>